# Import packages

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Pour afficher les graphiques en ligne dans un notebook Jupyter
%matplotlib inline

# Import CSV

Import data with the read_csv method from pandas library to visualize the data.

In [14]:
sales_data = pd.read_csv("sales.csv")

In [15]:
sales_data

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,425390,366,4,2013-04-18,517,1,0,0,0,4422
1,291687,394,6,2015-04-11,694,1,0,0,0,8297
2,411278,807,4,2013-08-29,970,1,1,0,0,9729
3,664714,802,2,2013-05-28,473,1,1,0,0,6513
4,540835,726,4,2013-10-10,1068,1,1,0,0,10882
...,...,...,...,...,...,...,...,...,...,...
640835,359783,409,6,2013-10-26,483,1,0,0,0,4553
640836,152315,97,1,2014-04-14,987,1,1,0,0,12307
640837,117952,987,1,2014-07-07,925,1,0,0,0,6800
640838,435829,1084,4,2014-06-12,725,1,0,0,0,5344
640839,305711,695,7,2015-05-03,0,0,0,0,0,0

In [16]:
sales_data.isna()

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
640835,False,False,False,False,False,False,False,False,False,False
640836,False,False,False,False,False,False,False,False,False,False
640837,False,False,False,False,False,False,False,False,False,False
640838,False,False,False,False,False,False,False,False,False,False
640839,False,False,False,False,False,False,False,False,False,False

In [17]:
print(sales_data.columns)

Index(['Unnamed: 0', 'store_ID', 'day_of_week', 'date', 'nb_customers_on_day',
       'open', 'promotion', 'state_holiday', 'school_holiday', 'sales'],
      dtype='object')

The Unnamed:0 column can become the index column because each value is unique and there is no duplicate.
=> Has become uid for cleared understanding

In [18]:
sales_df = sales_data.rename(columns={"Unnamed: 0": "uid"})
sales_df = sales_df.set_index(["uid"])

In [19]:
sales_df

,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
uid,,,,,,,,,
425390,366,4,2013-04-18,517,1,0,0,0,4422
291687,394,6,2015-04-11,694,1,0,0,0,8297
411278,807,4,2013-08-29,970,1,1,0,0,9729
664714,802,2,2013-05-28,473,1,1,0,0,6513
540835,726,4,2013-10-10,1068,1,1,0,0,10882
...,...,...,...,...,...,...,...,...,...
359783,409,6,2013-10-26,483,1,0,0,0,4553
152315,97,1,2014-04-14,987,1,1,0,0,12307
117952,987,1,2014-07-07,925,1,0,0,0,6800
435829,1084,4,2014-06-12,725,1,0,0,0,5344
305711,695,7,2015-05-03,0,0,0,0,0,0

# DataViz

## Visualize the data

In [ ]:
%config Inlinebackend.figure_format= 'retina'

sns.set_context("poster")
sns.set_theme(rc={"figure.figsize": (12., 6.)})
sns.set_style("whitegrid")

Visualize each feature compared to the target variable : sales.

In [ ]:
target = sales_df["sales"]